@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: 700;
}